*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Poppins;
    box-sizing: border-box;
}

img.logo2{
    width: 150px;
    position: relative;
    right: 9px;
    margin-left: 15px;
}

/* .div-header .title{
    color: white;
    left: 300px;
    position: absolute;
    padding: px;
} */

.div-header .div-title-img{
    display: flex;
    flex-direction: row;
}

.div-header .title-img{
    position: relative;
    display: inline-block;
    object-fit: cover;
    width: 40%;
}

.div-header .title-img2{
    position: relative;
    display: inline-block;
    width: 60%;
    object-fit: cover;
}

.div-header h1{
    text-align: center;
}

.div-header{
    background-color: #0f0f0f;
}

#lista-top, a{
    color: white;
    gap: 0px;
    list-style: none;
    display: flex;
    float: right;
    margin-top: 14px;
    align-items: center;
    margin-right: 10px;
}

.Inicio{
    border: white solid 2px;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(0, 128, 0, 0.562);
}

.Inicio:hover{
    background-color: green;
}

.resitro{
    border: white solid 2px;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(214, 23, 23);
}

.resitro:hover{
    background-color: red;
}

#bottom-header{
    color: white;
    display: flex;
    gap: 50px;
    list-style: none;
    justify-content: center;
    padding: 10px;
}

#bottom-header i{
    font-size: 25px;
    cursor: pointer;
}

main{
    display: flex;
}

main section .contenir-menu{
    background:white;
    width: 150px;
    height: 100%;
    position: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    bottom: 0px;
}

section .menu a div {
    color: #0f0f0f;
}

.contenir-card{
    display: flex;
    flex-wrap: wrap;
}

.card-img{
    position: relative;
    display: inline-block;
    border:#0f0f0fa8 solid 4px;
    border-radius: 5px;
    margin: 8px;
    height: 188px;
    object-fit: cover;
}

.card-img img{
    width: 250px;
    height: 180px;
}

.card-img-overlay{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: start;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(32, 30, 30, 0.26);
    color: white;
    padding: 5px;
}

footer{
    background-color: #0f0f0f;
}

footer .lis-footer{
    flex-direction: column;
    display: flex;
    overflow: hidden;
    margin-bottom: px;
    margin-left: 10px;
    color: white;
    padding: 10px;
}

footer .lis-footer .container-lis{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .Cash-icon{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.container-redes ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding-bottom: 10px;
}