*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Poppins;
    box-sizing: border-box;
}

body{
    background-color: #0f0f0f;
}

header img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}

header .title{
    color: white;
    position: absolute;
    left: 800px;
    top: 0;
    bottom: 0;
    margin-top: 10px;
}

.title{
    flex-direction: column;
    text-align: center;
}

.contanir-form .input-container{
    appearance: none;
    padding: 2px;
    border: 5px solid white;
    border-radius: 8px;
    width: 70%;
    background-color: transparent;
    color: white;
}

.container-botton{
    appearance: none;
    padding: 2px;
    border: 5px solid white;
    border-radius: 8px;
    width: 70%;
    background-color: transparent;
    color: white;
}

.container-botton:hover{
    cursor: pointer;
    background-color: white;
    color: #0f0f0f;
}

div p:hover{
    cursor: pointer;
    text-decoration-line: underline;
}